.product {
  display: flex;
  flex-direction: column;
  gap: 50px;

  background-color: rgb(132, 149, 226);
}

/* #region section one */
.part {
  background-color: rgb(255, 255, 255);
}

.product-one {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 35px;

  margin-top: 25px;
  background-color: rgb(255, 211, 211);
  margin-bottom: 50px;
}

.product-one-info {
  background-color: rgb(180, 180, 180);

  height: fit-content;

  display: flex;
  flex-direction: column;
}
/* #endregion */

.product-section-two {
  background-color: rgb(193, 236, 164);
}

/* #region Management + Customer Support + Collaborative  */
.product-section-three {
  display: flex;
  flex-direction: column;
  gap: 100px;

  background-color: rgb(193, 236, 164);
}

.management {
  background-color: aliceblue;
}

.customer-support {
  background-color: rgb(229, 207, 231);
}

.collaborative {
  background-color: rgb(190, 236, 234);
}
/* #endregion */

.product-section-process {
  background-color: rgb(255, 211, 211);
  height: 150px;
}

.product-section-contents-strategies {
  background-color: rgb(255, 211, 211);
  height: 150px;
}

.product-section-price-table {
  background-color: rgb(255, 211, 211);
}

.product-section-feedback {
  background-color: rgb(191, 214, 164);
  margin-bottom: 50px;
}

.product-section-promotions {
  background-color: rgb(171, 192, 165);
}
