.product {
  display: flex;
  flex-direction: column;

  background-color: rgb(255, 240, 240);
}

/* #region section one */
.product-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background-color: rgb(255, 255, 255);
  margin-bottom: 50px;
}
.product-one-info {
  display: flex;
  flex-direction: column;
  gap: 20px;

  align-items: center; /* центрує весь текст */
  text-align: center; /* центрує рядки тексту */

  background-color: rgb(255, 255, 255);
}
.product-one h1 {
  font-weight: 700;
  font-size: 36px;
  background-color: rgb(255, 255, 255);
}
.product-one p {
  background-color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 18px;
}
.product-one-buttons {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.button-green.section-one {
  font-weight: 700;
  font-size: 16px;

  width: 150px;
}
.button-watch-video {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 8px;

  background-color: rgb(255, 255, 255);

  font-family: 'Poppins';
  font-weight: 600;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: rgb(2, 137, 122);
  border: none;
}
.icon-triangle {
  fill: rgb(2, 137, 122);
}
/* #endregion */

/* #region section two */
.product-two {
  background-color: rgb(113, 139, 95);
  text-align: center; /* центрує рядки тексту */

  display: flex;
  flex-direction: column;
  gap: 50px;
}
.product-two-list {
  background-color: aqua;
  display: flex;

  flex-direction: column;
  gap: 40px;
}
.product-two h2 {
  font-weight: 700;
  font-size: 32px;
  background-color: transparent;
}
.product-two h3 {
  font-weight: 600;
  font-size: 22px;
  background-color: transparent;
}
.product-two p {
  background-color: transparent;
  font-weight: 400;
  font-size: 18px;
}

.icon-bd {
  background-color: rgb(146, 102, 102);
  fill: rgb(255, 17, 17);
}
/* #endregion */

/* #region Management + Customer Support + Collaborative  */
.product-section-three {
  display: flex;
  flex-direction: column;
  gap: 100px;

  background-color: rgb(193, 236, 164);
}

.management {
  background-color: aliceblue;
}

.customer-support {
  background-color: rgb(229, 207, 231);
}

.collaborative {
  background-color: rgb(190, 236, 234);
}
/* #endregion */

/* #region  */
.product-section-process {
  background-color: rgb(255, 211, 211);
  height: 150px;
}

.product-section-contents-strategies {
  background-color: rgb(255, 211, 211);
  height: 150px;
}

.product-section-price-table {
  background-color: rgb(255, 211, 211);
}

.product-section-feedback {
  background-color: rgb(191, 214, 164);
  margin-bottom: 50px;
}

.product-section-promotions {
  background-color: rgb(171, 192, 165);
}

/* #endregion */

/* Tablet */
@media screen and (min-width: 768px) {
  /* #region section one */
  .product-one-info {
    padding-top: 50px;
    max-width: 600px;

    gap: 40px;
  }
  /* #endregion */
}

/* Desktop */
@media screen and (min-width: 1200px) {
  /* #region section one */
  .product-one {
    display: flex;
    flex-direction: row-reverse;
  }

  .product-one-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 465px;

    align-items: start; /* центрує весь текст */
    text-align: start; /* центрує рядки тексту */
  }
  .product-one h1 {
    max-width: 350px;
  }

  .button-watch-video {
    width: 165px;
  }
  /* #endregion */
}
