<header class="page-header">
  <div class="header container">
    <a class="logo header-logo" href="./index.html"
      ><img src="../img/logo.svg" alt="Logo" width="40" height="36" />Product</a
    >

    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link current" href="./index.html">Product</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="../pages/2_customers.html"
            >Customers</a
          >
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="../pages/3_pricing.html">Pricing</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="">Resourses</a>
        </li>
      </ul>
    </nav>
    <ul class="header-auth-list">
      <li class="header-auth-item">
        <button class="header-auth-btn" type="button">Sign in</button>
      </li>
      <li class="header-auth-item">
        <button class="main-btn" type="button">Sign up</button>
      </li>
    </ul>
  </div>
</header>
