<section class="product container">
  <!--Section One-->
  <div class="product-one part">
    <img
      src="/img/product/hero-img.svg"
      alt="Hero"
      width="610"
      height="555"
      style="background-color: transparent"
    />

    <div class="product-one-info">
      <h1>Work at the speed of thought</h1>
      <p>
        Tools, tutorials, design and innovation experts, all in one place! The
        most intuitive way to imagine your next user experience.
      </p>
      <div class="product-one-buttons">
        <button class="button-green section-one" type="button">
          <a href="">Get started</a>
        </button>
        <button class="button-watch-video" type="button">
          <svg class="watch-video-icon-item" width="20" height="20">
            <use href="/img/sprite.svg#icon-triangle"></use>
          </svg>

          Watch the Video
        </button>
      </div>
    </div>
  </div>

  <!--Section Two-->
  <div class="product-two part">
    <h2>Product was Built Specifically for You</h2>
    <ul class="product-two-list">
      <li class="product-two-list-item">
        <span class="product-two-icon-field" id="icon-bd-1">
          <svg class="product-two-icon-item">
            <use href="/img/sprite.svg#icon-pointer"></use>
          </svg>
        </span>
        <h3>First click tests</h3>
        <p>While most people enjoy casino gambling.</p>
      </li>
      <li class="product-two-list-item">
        <span class="product-two-icon-field" id="icon-bd-2">
          <svg class="product-two-icon-item">
            <use href="/img/sprite.svg#icon-snake"></use>
          </svg>
        </span>
        <h3>Design surveys</h3>
        <p>Sports betting, lottery and bingo playing for the fun.</p>
      </li>
      <li class="product-two-list-item">
        <span class="product-two-icon-field" id="icon-bd-3">
          <svg class="product-two-icon-item">
            <use href="/img/sprite.svg#icon-like"></use>
          </svg>
        </span>
        <h3>Preference tests</h3>
        <p>The Myspace page defines the individual.</p>
      </li>
      <li class="product-two-list-item">
        <span class="product-two-icon-field" id="icon-bd-4">
          <svg class="product-two-icon-item">
            <use href="/img/sprite.svg#icon-sandtime"></use>
          </svg>
        </span>
        <h3>Five second tests</h3>
        <p>Personal choices and the overall personality of the person.</p>
      </li>
    </ul>
    <button class="button-green section-two" type="button">
      <a href="">SIGN UP NOW</a>
    </button>
  </div>

  <!--Section Three-->
  <ul class="product-three part">
    <li class="product-three-list management">
      <img
        src="/img/product/management-img.svg"
        alt="management"
        width="540"
        height="500"
      />
      <div class="product-three-list-2">
        <h4>Effortless Validation for</h4>
        <h2>Management</h2>
        <p>
          The Myspace page defines the individual, his or her characteristics,
          traits, personal choices and the overall personality of the person.
        </p>
        <h4>Accessory makers</h4>
        <p>
          While most people enjoy casino gambling, sports betting, lottery and
          bingo playing for the fun.
        </p>
        <h4>Alterationists</h4>
        <p>
          If you are looking for a new way to promote your business that won’t
          cost you more money.
        </p>
      </div>
    </li>

    <li class="product-three-list customer-support">
      <img
        src="/img/product/support-img.svg"
        alt="support"
        width="540"
        height="500"
      />

      <ul class="product-three-list-2">
        <h4>Easier decision making for</h4>
        <h2>Customer Support</h2>
        <p>
          The Myspace page defines the individual, his or her characteristics,
          traits, personal choices and the overall personality of the person.
        </p>
        <li class="product-three-list-2-item">
          <span class="product-three-icon-field" id="icon-three-bd-1">
            <svg class="product-three-icon-item">
              <use href="/img/sprite.svg#icon-hack"></use>
            </svg>
          </span>
          <p>Never worry about overpaying for your energy again.</p>
        </li>
        <li class="product-three-list-2-item">
          <span class="product-three-icon-field" id="icon-three-bd-2">
            <svg class="product-three-icon-item">
              <use href="/img/sprite.svg#icon-hack"></use>
            </svg>
          </span>
          <p>
            We will only switch you to energy companies that we trust and will
            treat you right.
          </p>
        </li>
        <li class="product-three-list-2-item">
          <span class="product-three-icon-field" id="icon-three-bd-3">
            <svg class="product-three-icon-item">
              <use href="/img/sprite.svg#icon-hack"></use>
            </svg>
          </span>
          <p>We track the markets daily and know where the savings are.</p>
        </li>
      </ul>
    </li>

    <li class="product-three-list collaborative">
      <img
        src="/img/product/collaboration-img.svg"
        alt="collaboration"
        width="540"
        height="500"
      />

      <div class="product-three-list-2">
        <h4>Optimisation for</h4>
        <h3>Collaborative</h3>
        <p>
          Few would argue that, despite the advancements of feminism over the
          past three decades, women still face a double standard when it comes
          to their behavior.
        </p>
        <h4>Accessory makers</h4>
        <p>
          While most people enjoy casino gambling, sports betting, lottery and
          bingo playing for the fun.
        </p>
        <h4>Alterationists</h4>
        <p>
          If you are looking for a new way to promote your business that won’t
          cost you more money.
        </p>
      </div>
    </li>
  </ul>

  <!--Section Four-->
  <div class="product-four part">
    <h2 class="">Quick & Easy Process</h2>
    <p>
      Do you require some help for your project: Conception workshop,
      prototyping, marketing strategy, landing page, Ux/UI?
    </p>
    <ul class="product-four-list">
      <li class="product-four-list-item person-1">
        <img
          src="../img/product/person_1.png"
          id="product-four-person_1"
          width="90"
          height="90"
        />
        <p>I can take care of your pitch</p>
      </li>
      <li class="product-four-list-item person-2">
        <img
          src="../img/product/person_2.png"
          id="product-four-person_2"
          width="90"
          height="90"
        />
        <p>I can design you website</p>
      </li>
      <li class="product-four-list-item person-3">
        <img
          src="../img/product/person_3.png"
          id="product-four-person_3"
          width="90"
          height="90"
        />
        <p>I can help marketing strategy</p>
      </li>
      <li class="product-four-list-item person-4">
        <img
          src="../img/product/person_4.png"
          id="product-four-person_4"
          width="90"
          height="90"
        />
        <p>I can prototype your app</p>
      </li>
    </ul>
    <button class="button-green section-three" type="button">
      <a href="">Contact our expert</a>
    </button>
  </div>

  <!--Section "Contents Strategies"-->
  <div class="product-section-contents-strategies">
    <h2 class="">Contents Strategies</h2>
  </div>

  <!--Price Table"-->
  <div class="product-section-price-table">
    <h2>Price Table</h2>
    <p>We offer competitive price</p>
    <ul>
      <li>
        <h3>Free</h3>
        <p>Brief price description</p>
        <p>0 $ Per / month</p>
        <ul>
          <li>Only 2 Operators</li>
          <li>Notifications</li>
          <li>Landing Pages</li>
        </ul>
        <button type="button">Order Now</button>
      </li>
      <li>
        <h3>Standart</h3>
        <p>Brief price description</p>
        <p>5 $ Per / month</p>
        <ul>
          <li>5+ Operators</li>
          <li>Notifications</li>
          <li>Landing Pages</li>
        </ul>
        <button type="button">Order Now</button>
      </li>
      <li>
        <h3>Premium</h3>
        <p>Brief price description</p>
        <p>10 $ Per / month</p>
        <ul>
          <li>10+ Operators</li>
          <li>Notifications</li>
          <li>Landing Pages</li>
        </ul>
        <button type="button">Order Now</button>
      </li>
    </ul>
  </div>

  <!--Section "What Clients Say"-->
  <div class="product-section-feedback">
    <h2>What Clients Say</h2>
  </div>

  <!--Section "Join 100 Compannies..."-->
  <div class="product-section-promotions">
    <h2>Join 100 Compannies who boost their business with Product</h2>
  </div>
</section>
