:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;

  background-color: rgb(255, 255, 255);
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}

/* #region text */
h1 {
  font-family: 'Poppins';
  line-height: 150%;

  color: rgb(34, 52, 61);
}
h2 {
  font-family: 'Poppins';
  line-height: 150%;

  color: rgb(34, 52, 61);
}
h3 {
  font-family: 'Poppins';
  line-height: 150%;

  color: rgb(34, 52, 61);
}

p {
  font-family: 'Poppins';
  line-height: 156%;

  color: rgb(34, 52, 61);
}
/* #endregion */

/* #region buttons */
.button-green {
  background-color: rgb(2, 137, 122);

  border: none;
  border-radius: 8px;

  width: 170px;
  height: 45px;

  font-family: 'Poppins';
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: rgb(255, 255, 255);
}
/* #endregion */
