.page-header {
  padding: 19px 0;

  background-color: aqua;
}

.header-container,
.header-nav,
.header-nav-list,
.header-auth-list {
  display: flex;
  align-items: center;
}

.header-nav {
  flex-grow: 1;
  margin-right: 76px;
}
.header-logo {
  margin-right: auto;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;

  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
}

.header-nav-list {
  gap: 30px;
}
.header-nav-link {
  display: block;
  padding: 7px 0;
  line-height: 1.75;

  transition: transform 250ms linear;
}

.header-nav-link:hover,
.header-nav-link:focus {
  transform: scale(1.1);
}

.header-nav-link.current {
  font-weight: 600;
}

.header-auth-list {
  gap: 21px;
}

.header-auth-btn {
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  min-width: 105px;
  height: 42px;
  padding: 9px 24px;

  font-weight: 600;
  font-size: 16px;
  color: #173a56;
  background-color: #fff;
}

.header-auth-btn:hover,
.header-auth-btn:focus {
  color: #fff;
  background-color: #02897a;
  border-color: #02897a;
}
