.page-header {
  padding: 19px 0;
  background-color: aqua;
}

.header {
  display: flex;
  flex-direction: row;
}

.header-nav {
  display: none;
  flex-direction: row;

  flex-grow: 1;
  margin-right: 76px;
  background-color: rgb(209, 209, 209);
}

.header-logo {
  margin-right: auto;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;

  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
}

.header-nav-list {
  background-color: rosybrown;
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.header-nav-link {
  display: block;
  padding: 7px 0;
  line-height: 1.75;

  transition: transform 250ms linear;
}

.header-nav-link:hover,
.header-nav-link:focus {
  transform: scale(1.1);
}

.header-nav-link.current {
  font-weight: 600;
}

.header-auth-list {
  display: none;
  background-color: lightgreen;

  gap: 21px;
}

.header-auth-btn {
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  min-width: 105px;
  height: 42px;
  padding: 9px 24px;

  font-weight: 600;
  font-size: 16px;
  color: #173a56;
  background-color: #fff;
}

.header-auth-btn:hover,
.header-auth-btn:focus {
  color: #fff;
  background-color: #02897a;
  border-color: #02897a;
}

/* Tablet */
@media screen and (min-width: 768px) {
}

/* Desktop */
@media screen and (min-width: 1200px) {
}
